<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LowPassFilter</key>
	<array>
		<dict>
			<key>Title</key>
			<string>LowPassFilter</string>
			<key>imageFile</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
